@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}


.wallet-adapter-button-trigger {
  color:white;
  background: linear-gradient(to bottom, #181818, #0e0e0e); 
  border-radius: 1rem; 
  padding: 1.5rem 2rem; 
  transition: all 300ms ease-in-out; 
  border: 1px solid #262626; 
  text:white;
}



.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}

.wallet-adapter-button-trigger:not([disabled]):hover {
  color:white;
  transform: translateY(-0.5rem); 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.wallet-adapter-modal-wrapper{
  background: linear-gradient(to bottom, #181818, #0e0e0e); 
}

.wallet-adapter-modal-button-close{
  background: linear-gradient(to bottom, #181818, #0e0e0e); 
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: #ccff00;
  color:black;
  cursor: pointer;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transform: translateY(-0.3rem); 
}


@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}